---
layout: page
permalink: /projects/index.html
---

<ol class="project-list list--blank">
  {% for project in site.projects %}
    <li class="project">
      <div class="project__title">
        <h2>
          <a class="project__title__link" href="{{ project.url | prepend: site.baseurl }}"><b>{{ project.title }}</b></a>
        </h2>
        {% if project.categories.size > 0 %}
          <div class="project__categories">
          {{ project.categories | join: ', ' }}
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ol>
