h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2 {
  @include font-large;
}

h3, h4, h5, h6 {
  @include font-regular;
}

ul, p {
  margin: 0 0 1em;
}

pre,
code {
  @include font-monospace;
}

p {
  pre,
  code {
    @include inline-code;
  }
}

b, strong {
  font-weight: normal;
}
