a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

.blank-link {
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.link--external {
  // cursor: alias;
}

.list--blank {
  margin: 0;
  padding: 0;
  list-style: none;
}

.emoji {
  font-size: 34px;
  line-height: 1;
  font-weight: normal;
  font-family: sans-serif;
}

.page-content {
  ol,
  ol li {
    margin-bottom: $line-height;
    padding-left: 14px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    position: relative;

    &:before {
      content: '—';

    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  hr {
    border: 0;
    height: 1px;
    background: black;
    margin: 3em 0;
  }
}

::selection {
  background: $green;
}
